.header {
  padding-top: 20px;
  padding-bottom: 20px;

  box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
}

.list {
  display: flex;
  justify-content: space-evenly;
}

.item {
  margin-top: 10px;
  margin-bottom: 10px;
}

.title {
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 12px 24px;
  border-radius: 74px;
  position: relative; /* Додаємо позицію relative для контейнера */
}

.title::before {
  content: ''; /* Додаємо порожній контент для псевдоелемента */
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0; /* Починаємо з нульової ширини лінії */
  height: 2px; /* Висота лінії */
  background-color: gray;
  transition: width 0.3s ease; /* Додати анімацію виїзду лінії */
}

.title:hover::before {
  width: 100%; /* Змінюємо ширину лінії на 100% при ховері */
}

.title-home {
  margin-top: 80px;
  margin-bottom: 80px;

  color: grey;
  text-align: center;
  font-size: 36px;
  font-weight: 1.14;
  text-transform: uppercase;
  font-weight: 700;
}

/* movieList.css */

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 120px;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.movie-card {
  flex: 0 0 calc(33% - 20px);
  margin-bottom: 20px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  text-decoration: none;
  color: gray;
  position: relative; /* Додаємо позицію relative для контейнера */
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s; /* Додали box-shadow для анімації ліній */
}

.movie-card::before,
.movie-card::after {
  content: ''; /* Додаємо порожній контент для псевдоелементів */
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #ff6347; /* Колір ліній */
  transition: transform 0.2s; /* Анімація трансформації ліній */
  transform: scaleX(0); /* Спочатку робимо лінії невидимими */
}

.movie-card::before {
  bottom: 0;
}

.movie-card::after {
  top: 0;
}

.movie-card:hover {
  transform: scale(1.05);
  color: #ff6347;
}

.movie-card:hover::before,
.movie-card:hover::after {
  transform: scaleX(1); /* Збільшуємо ширину ліній до 100% при ховері */
}

/* searchForm.css */

.search-form {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  margin-top: 50px;
}

.search-input {
  width: 300px;
  padding: 10px;
  border: 2px solid #3498db; /* Синій колір для рамки поля вводу */
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  color: grey;
}

.search-input::placeholder {
  color: #3498db; /* Синій колір для тексту плейсхолдера */
}

.search-button {
  background-color: #3498db; /* Синій колір для кнопки пошуку */
  color: #fff; /* Білий колір для тексту кнопки */
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  margin-left: 10px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.search-button:hover {
  background-color: #258cd1; /* Змінюємо колір кнопки при наведенні */
}

/* movieDetails.css */

.movie-details-container {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: Arial, sans-serif;
}

.back-link {
  font-size: 18px;
  color: #3498db; /* Синій колір для посилання "Go back" */
  text-decoration: none;
  margin-bottom: 20px;
  transition: color 0.3s;
}

.back-link:hover {
  color: #258cd1; /* Змінюємо колір при наведенні */
}

.movie-details-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

.poster-container {
  margin-right: 20px;
}

.movie-poster {
  max-width: 100%;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: transform 0.2s;
}

.movie-poster:hover {
  transform: scale(1.05); /* Збільшення масштабу при наведенні */
}

.movie-description {
  width: 1000px;

  flex: 1;
  text-align: left;
  padding: 20px;
  /* background-color: #87ceeb; */
  border-radius: 10px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;

  margin-right: 20px;
}

.movie-title {
  font-size: 28px;
  margin: 0;
  color: #333;
}

.user-score {
  font-size: 18px;
  margin-top: 5px;
  color: #555;
}

.section-title {
  font-size: 24px;
  margin-top: 20px;
  color: #333;
}

.overview-text {
  font-size: 16px;
  color: #444;
}

.genres-list {
  font-size: 16px;
  color: #444;
}

.genre {
  margin-right: 5px;
  color: #555;
}

.additional-info-links {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

.info-link {
  font-size: 18px;
  text-decoration: none;
  color: #3498db; /* Синій колір для посилань на додаткову інформацію */
  transition: color 0.3s;
}

.info-link:hover {
  color: #258cd1; /* Змінюємо колір при наведенні */
}

.info-link {
  font-size: 18px;
  text-decoration: none;
  color: #fff;
  padding: 10px 20px;
  background-color: #3498db; /* Синій колір для фону кнопок */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin: 10px;
  display: inline-block;
}

.info-link:hover {
  background-color: #ff6347; /* Змінюємо колір фону кнопок при наведенні */
  color: #fff; /* Змінюємо колір тексту кнопок при наведенні */
}

/* Стилі для посилання "Go back" */
.back-link {
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #3498db; /* Синій колір для фону кнопки "Go back" */
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  margin-bottom: 20px;
  display: inline-block;
}

.back-link:hover {
  background-color: #ff6347; /* Змінюємо колір фону кнопки "Go back" при наведенні */
  color: #fff; /* Змінюємо колір тексту кнопки "Go back" при наведенні */
}

/* Оновлений CSS для карточок акторів з використанням CSS Grid */
.cast-list {
  display: grid;
  grid-template-columns: repeat(
    3,
    1fr
  ); /* Створюємо 3 колонки з однаковою шириною */
  gap: 20px; /* Відступи між карточками */
}

.actor-card {
  width: 200px; /* Ширина карточки 100% відносно контейнера Grid */
  padding: 20px;

  border-radius: 10px;
  text-align: center;
  transition: transform 0.2s, box-shadow 0.3s;
  display: flex; /* Встановлюємо властивість display на flex */
  flex-direction: column; /* Розміщення дочірніх елементів у стовпці */
  align-items: center; /* Вирівнюємо елементи по горизонталі по центру */
}

.actor-card:hover {
  transform: scale(1.05); /* Збільшення масштабу при наведенні */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3); /* Змінюємо тінь бокса при наведенні */
}

.actor-wrapper {
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Тінь бокса */

  background-color: #87ceeb;
}

/* Фото актора */
.actor-image {
  width: 200px;
  height: 300px;
  border-radius: 10px;
  margin-bottom: 10px;
}

/* Ім'я актора */
.actor-name {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  color: #333;
}

/* Персонаж, який грає актор */
.actor-character {
  font-size: 16px;
  color: #444;
  margin-top: 5px; /* Відступ зверху між іменем та персонажем */
}

/* Повідомлення, якщо немає інформації про акторів */
.no-cast-message {
  font-size: 18px;
  color: #555;
  margin: 20px;
}

/* Стилі для компонента Reviews */
.reviews-container {
  margin: 20px;
  padding: 20px; /* Білий фон контейнера */
  border-radius: 10px;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 3px 6px; /* Box shadow для контейнера */
}

.reviews-title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.reviews-list {
  list-style: none;
  padding: 0;
}

.review-card {
  margin: 20px;
  padding: 20px;
  background-color: #fff; /* Білий фон карточки */
  border-radius: 10px;
  text-align: left;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(0, 0, 0, 0.5) -3px -3px 6px 1px inset;
}

.review-author {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.review-content {
  font-size: 16px;
  color: #444;
  margin-top: 10px;
}

.no-reviews-message {
  font-size: 18px;
  color: #555;
  margin: 20px;
}
